### Python-Web-Server ###
pydantic
fastapi
uvicorn
langchain
langserve[all]==0.0.41  # Requires Python >=3.8.1, <4.0
langgraph==0.0.21       # Requires Python >=3.9.0, <4.0
langsmith==0.0.86       # Requires Python >=3.8.1, <4.0

### Integrated-Services ###
minio
weaviate-client

### Web search API ###
tavily-python
